In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn
from pandas import Series,DataFrame

In [3]:
dframe =pd.read_csv('data.csv') # read csv, defaults to comma delimiter, takes the first row as column name

In [4]:
dframe

   q  r  s  t apple
0  a  b  d  s  pear
1  a  x  t  f   dog
2  b  t  f  n   cat

In [8]:
# with generic header row

dframe = pd.read_csv('data.csv',header= None)
dframe

   0  1  2  3      4
0  q  r  s  t  apple
1  a  b  d  s   pear
2  a  x  t  f    dog
3  b  t  f  n    cat

In [10]:
dframe = pd.read_table('data.csv',sep=',',header=None) #general import
dframe

   0  1  2  3      4
0  q  r  s  t  apple
1  a  b  d  s   pear
2  a  x  t  f    dog
3  b  t  f  n    cat

In [11]:
pd.read_csv('data.csv',header=None,nrows=3)

   0  1  2  3      4
0  q  r  s  t  apple
1  a  b  d  s   pear
2  a  x  t  f    dog

In [12]:
# Export data frame

dframe.to_csv('textdataout.csv')

In [13]:
import sys # allows to view import

In [14]:
dframe.to_csv(sys.stdout) #shows output

,0,1,2,3,4
0,q,r,s,t,apple
1,a,b,d,s,pear
2,a,x,t,f,dog
3,b,t,f,n,cat

In [15]:
dframe.to_csv(sys.stdout,sep='\t')

	0	1	2	3	4
0	q	r	s	t	apple
1	a	b	d	s	pear
2	a	x	t	f	dog
3	b	t	f	n	cat

In [17]:
# write a specific subset
dframe.to_csv(sys.stdout,sep='\t',columns=[0,1,2])

	0	1	2
0	q	r	s
1	a	b	d
2	a	x	t
3	b	t	f