In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])
arr

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [3]:
dframe1 = DataFrame(arr,index=['A','B'],columns=[1,2,3])
dframe1

     1    2    3
A  1.0  2.0  NaN
B  NaN  3.0  4.0

In [4]:
dframe1.sum() #IGNORES NULL VALUES

1    1.0
2    5.0
3    4.0
dtype: float64

In [6]:
dframe1.sum(1)

A    3.0
B    7.0
dtype: float64

In [7]:
dframe1.min() #MINIMUM VALUE OF EACH COLUMN

1    1.0
2    2.0
3    4.0
dtype: float64

In [8]:
# FIND THE INDEX OF THE MINIMUM VALUES, GIVES THE INFO FOR EACH COLUMN SEPARATELY
dframe1.idxmin()

1    A
2    A
3    B
dtype: object

In [9]:
dframe1

     1    2    3
A  1.0  2.0  NaN
B  NaN  3.0  4.0

In [11]:
# Accumulation Sum

dframe1.cumsum()

     1    2    3
A  1.0  2.0  NaN
B  NaN  5.0  4.0

In [12]:
# DESCRIBE -- gives summary statistics of data frame

dframe1.describe()

         1         2    3
count  1.0  2.000000  1.0
mean   1.0  2.500000  4.0
std    NaN  0.707107  NaN
min    1.0  2.000000  4.0
25%    1.0  2.250000  4.0
50%    1.0  2.500000  4.0
75%    1.0  2.750000  4.0
max    1.0  3.000000  4.0

In [13]:
from IPython.display import YouTubeVideo

In [14]:
# BRUSH UP ON COVARIANCE AND CORRELATION

In [20]:
import pandas_datareader as pdweb
import datetime

In [25]:
prices = pdweb.get_data_google(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),
                              end=datetime.datetime(2013,1,1))['Adj Close']

/home/phil/anaconda3/lib/python3.6/site-packages/pandas_datareader/google/daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 45553: invalid start byte

In [26]:
ser = Series(['w','w','x','y','z','w','a'])

In [27]:
ser

0    w
1    w
2    x
3    y
4    z
5    w
6    a
dtype: object

In [28]:
ser.unique()

array(['w', 'x', 'y', 'z', 'a'], dtype=object)

In [29]:
ser.value_counts()

w    3
y    1
a    1
z    1
x    1
dtype: int64