In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
from numpy.random import randn

In [4]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -0.498011
   b   -0.484487
   c    1.100979
2  a   -1.611159
   b   -0.822800
   c    0.465203
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a   -0.498011
b   -0.484487
c    1.100979
dtype: float64

In [7]:
ser[2]

a   -1.611159
b   -0.822800
c    0.465203
dtype: float64

In [8]:
ser[:,'a']

1   -0.498011
2   -1.611159
dtype: float64

In [9]:
# Create dataframe

dframe = ser.unstack()
dframe

          a         b         c
1 -0.498011 -0.484487  1.100979
2 -1.611159 -0.822800  0.465203

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [11]:
# Name index level
dframe2.index.names=['index_1','index_2']
dframe2.columns.names=['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [13]:
# Swaping indicies

dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
index_1 index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [16]:
# perform operations on a certain level

dframe2.sum(level='Temp', axis= 1)

Temp             cold  hot
index_1 index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27