In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [4]:
# Reindex #

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
# Fill new indicies with 0

ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'], index= [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

range(0, 15)

In [12]:
ser3.reindex(ranger,method'ffill') # Will fill the most recent definied value and fill the indices with that value

SyntaxError: invalid syntax (<ipython-input-12-fc00e062609d>, line 1)

In [14]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
# CREATE A DATA FRAME WITH MISSING INDEX

dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.276561 -0.750911 -0.702291 -0.024843  1.401074
B -0.654608  1.569566 -0.716547 -0.045333 -0.147266
D  1.971155 -1.062794 -0.621626  0.390090  0.100190
E  1.075776  0.414175 -0.997624  0.526298 -0.457120
F -0.549807 -0.968300 -0.754040  0.612671 -0.145689

In [19]:
# REINDEX

dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.276561 -0.750911 -0.702291 -0.024843  1.401074
B -0.654608  1.569566 -0.716547 -0.045333 -0.147266
C       NaN       NaN       NaN       NaN       NaN
D  1.971155 -1.062794 -0.621626  0.390090  0.100190
E  1.075776  0.414175 -0.997624  0.526298 -0.457120
F -0.549807 -0.968300 -0.754040  0.612671 -0.145689

In [20]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [21]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.276561 -0.750911 -0.702291 -0.024843  1.401074   NaN
B -0.654608  1.569566 -0.716547 -0.045333 -0.147266   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.971155 -1.062794 -0.621626  0.390090  0.100190   NaN
E  1.075776  0.414175 -0.997624  0.526298 -0.457120   NaN
F -0.549807 -0.968300 -0.754040  0.612671 -0.145689   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A  0.276561 -0.750911 -0.702291 -0.024843  1.401074
B -0.654608  1.569566 -0.716547 -0.045333 -0.147266
D  1.971155 -1.062794 -0.621626  0.390090  0.100190
E  1.075776  0.414175 -0.997624  0.526298 -0.457120
F -0.549807 -0.968300 -0.754040  0.612671 -0.145689

In [24]:
dframe.loc[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  0.276561 -0.750911 -0.702291 -0.024843  1.401074   NaN
B -0.654608  1.569566 -0.716547 -0.045333 -0.147266   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.971155 -1.062794 -0.621626  0.390090  0.100190   NaN
E  1.075776  0.414175 -0.997624  0.526298 -0.457120   NaN
F -0.549807 -0.968300 -0.754040  0.612671 -0.145689   NaN