In [6]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1 = Series(range(3),index=list("CBA"))
ser1

C    0
B    1
A    2
dtype: int64

In [3]:
ser1.sort_index() #SORT BY INDEX

A    2
B    1
C    0
dtype: int64

In [5]:
# SORT BY VALUES
ser1.sort_values()

C    0
B    1
A    2
dtype: int64

In [7]:
ser2 = Series(randn(10))
ser2

0   -1.012676
1    0.637637
2    0.101049
3    0.049465
4    0.989056
5    2.231615
6   -1.517720
7   -1.411370
8    0.868272
9   -0.258452
dtype: float64

In [9]:
ser2.sort_values()
ser2

0   -1.012676
1    0.637637
2    0.101049
3    0.049465
4    0.989056
5    2.231615
6   -1.517720
7   -1.411370
8    0.868272
9   -0.258452
dtype: float64

In [10]:
# RANKING THE VALUES IN A SERIES

ser2.rank()

#Left column is original index, right column is rank

0     3.0
1     7.0
2     6.0
3     5.0
4     9.0
5    10.0
6     1.0
7     2.0
8     8.0
9     4.0
dtype: float64